<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Skills</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
</head>
<body>
    <header id="header">
        <h1>Welcome, hero!</h1>
    </header>

    <div class="flex-container">

        <div class="skill">
            <!-- Skill progressbar -->
            <div class="skill-progress">
                <div class="progressbar">
                    <span class="progress yellow"
                          th:classappend="${skill.curr_xp == 100} ? 'full'"
                          th:style="'width:' + ${skill.curr_xp} + '%'">
                    </span>
                </div>
                <span class="label" th:text="${skill.name}"></span>
                <span class="lvl-progress" th:text="'LVL' + ${skill.curr_lvl} + '/' + ${skill.max_lvl}"></span>
            </div>

            <!-- If no battles exist, show message: -->
            <p id="message" th:if="${#lists.isEmpty(skill.battles)}">You have no current battles to fight</p>

            <!-- Battles -->
            <div class="battles">
                <div th:each="battle : ${skill.battles}" class="battle">
                    <form th:action="@{/skills/{skillId}(skillId=${skill.id})}" method="POST">
                        <input type="hidden" name="xp" th:value="${battle.xp}"/>
                        <button type="submit">+</button>
                    </form>
                    <span class="battle-name" th:text="${battle.description}"></span>
                    <span class="xp" th:text="${battle.xp}+'XP'"></span>
                </div>
            </div>
            <a class="btn addSkill" th:href="@{/skills/{skillId}/addBattle(skillId=${skill.id})}">Add battle</a>
        </div>

    </div>


</body>
</html>