<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Skills</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
</head>
<body>
    <header id="header">
        <h1>Welcome, hero!</h1>
    </header>

    <div class="flex-container">
        <p id="message" th:if="${#lists.isEmpty(skills)}">You have no current battles to fight</p>

        <div th:each="skill : ${skills}" class="skill">
            <div class="skill-progress">
                <div class="progressbar">
                    <span class="progress yellow"
                          th:style="'width:' + ${skill.curr_xp} + ';'"
                          th:styleappend="${skill.curr_xp == 100} ? ';border-radius:5px' : ''">
                    </span>
                </div>
                <span class="label" th:text="${skill.name}"></span>
                <span class="lvl-progress"th:text="'LVL' + ${skill.curr_lvl} + '/' + ${skill.max_lvl}"></span>
            </div>
            <div th:if="${not#lists.isEmpty(skill.battles)}" class="battles">
                <div th:each="battle : ${skill.battles}" class="battle">
                    <!--update button-->
                    <span class="battle-name" th:text="${battle.description}"></span>
                    <span class="xp" th:text="${battle.xp}"></span>
                </div>
            </div>
        </div>
    </div>


</body>
</html>