<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Skills</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
</head>
<body>
    <header id="header">
        <h1>Welcome, hero!</h1>
    </header>

    <div class="flex-container">
        <!-- If no skills exist, show message: -->
        <p th:if="${#lists.isEmpty(skills)}" id="message">You currently have no skills to work on</p>

        <!-- Skill progressbar and info -->
        <div th:each="skill:${skills}" class="skill-progress">
            <div class="progressbar">
                <span class="progress"
                      th:classappend="${skill.curr_xp == 100} ? 'full'"
                      th:style="'width:' + ${skill.curr_xp} + '%'">
                </span>
            </div>
            <span class="label"><a th:href="@{/skills/{skillId}(skillId=${skill.id})}" th:text="${skill.name}"></a></span>
            <span class="lvl-progress" th:text="'LVL' + ${skill.curr_lvl} + '/' + ${skill.max_lvl}"></span>
        </div>

        <a class="btn addSkill" href="/addSkill">Add a skill</a>
    </div>

</body>
</html>